<link rel="import" href="../polymer/polymer.html">

<!--
`calm-table`
Full responsive table.

@demo demo/index.html
-->

<dom-module id="calm-table-line">
    <template>
    <style>
    :host{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -ms-flexbox-orient: horizontal;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex-wrap: wrap;
        -moz-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom-color: var(--calm-table-line-border-color, lightgray);
        border-bottom-width: var(--calm-table-line-border-width, 1px);
        border-bottom-style: var(--calm-table-line-border-style, solid);
    }

    :host.narrow{
        display: block;
    }

    :host > ::content > * {
        flex-basis: 100px;
        -webkit-flex-basis: 100px;
        flex-grow: 1;
        -webkit-flex-grow: 1;
        align-self: var(--calm-table-line-align-items, center);
    }

    :host > ::content > .medium {
        flex-basis: 50px;
        -webkit-flex-basis: 50px;
        font-size: 0.8em;
    }

    :host > ::content > * {
        text-align: var(--calm-table-line-text-align, right);
    }

    :host > ::content:nth-child(1){
        text-align: left;
        flex-basis: var(--calm-table-first-element-width, 100px);
        -webkit-flex-basis: var(--calm-table-first-element-width, 100px);
        @apply(--calm-table-line-first-element);
    }
    :host > ::content .calm-table-line-key{
        display: inline-block;
        width: var(--calm-table-line-key-width, 150px);
        overflow: hidden;
        text-align: left;
        color: var(--calm-table-title-color, darkblue);
        vertical-align: bottom;
        font-weight: bold;
        @apply(--calm-table-title);
    }
    :host > ::content .big{
        flex-grow: 2;
        -webkit-flex-grow: 2;
        flex-basis: 150px;
        -webkit-flex-basis: 150px;
    }
    :host > ::content .small{
        flex-grow: 0.5;
        -webkit-flex-grow: 0.5;
    }
    :host > ::content .left{
        text-align: left;
    }
    :host > ::content .indented{
        padding-left: 48px;
    }
    :host > ::content .left.narrow{
        text-align: right;
    }
    :host > ::content .right{
        text-align: right;
    }
    :host > ::content .centered{
        text-align: center;
    }
    :host > ::content .narrow{
        display: inline-block;
        width: calc(100% - var(--calm-table-line-key-width, 150px));
        text-align: var(--calm-table-line-text-align-narrow, right);
        @apply(--calm-table-line-narrow-content);
    }
    :host > ::content .narrow:nth-child(1){
        @apply(--calm-table-line-narrow-first-element);
    }
    </style>


    <content id="content"></content>

</template>

<script>
Polymer({

    is: 'calm-table-line',

    properties: {

        classes: {
            type: Array,
            notify: true,
            observer: "_setClasses"
        },

        _isReevaluating: {
            type: Boolean,
            value: false
        }
    },

    ready: function(){
        var _element = this;
        Polymer.dom(this.$.content).observeNodes(function(e){
            _element._contentChanged(e)
        });
    },

    _setClasses: function(classes, tries){
        if (!tries){
            tries = 3;
        }
        if (this.children.length == 1 && tries > 0){
            this.async(function(){
                this._setClasses(classes, tries-1);
            }, 100);
            return;
        }
        for (var i = 0; i < this.children.length; i++) {
            var node = this.children[i]
            if (node.nodeType == 3 || node.nodeName == "TEMPLATE") continue;
            if (node.className && node.className.indexOf("calm-table-line-key")  == -1){
                if (this.classes[i] && this.classes[i] != ""){
                    var classString = this.classes[i].split(" ");
                    for (var j = 0; j < classString.length; j++) { // For-of had to be replaced due to incompatability with Edge/IE.
                        var className = classString[j];
                        this.toggleClass(className, true, node);
                    }
                }
            }
        }
    },

    _contentChanged: function(e){
        if (e.addedNodes.length == 0) return;
        var newNodes = e.addedNodes.filter(function(node){
            return node.className && node.className.indexOf("calm-table-line-key")  == -1;
        });
        if (newNodes.length == 0) return;
        if (!this._isReevaluating){
            this._isReevaluating = true;
            this.async(function(){
                this._isReevaluating = false;
                this.fire("request-update");
            }, 100);
        }
    },

    _setNarrow: function(columns){
        nodes = this.children;
        this.toggleClass("narrow", true);
        if (columns.length == 0) return;
        var index = 0;
        for (var i = 0; i < nodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
            var element = nodes[i];
            if (element.nodeType == 3 || element.nodeName == "TEMPLATE") continue;
            if (element.className.indexOf("calm-table-line-key") !== -1){
                Polymer.dom(this).removeChild(element);
                continue;
            }
            this.toggleClass("narrow", true, element);
            this.toggleClass("medium", false, element);
            if (columns[index] && (columns[index]+"").length > 0){
                var key = document.createElement("span");
                this.toggleClass("calm-table-line-key", true, key);
                key.innerHTML = columns[index] + ":";
                Polymer.dom(this).insertBefore(key, element);
            }
            index++;
        }
    },

    _setMedium: function(){
        nodes =  this.children;
        this.toggleClass("narrow", false);
        for (var i = 0; i < nodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
            var element = nodes[i];
            if (element.nodeType == 3 || element.nodeName == "TEMPLATE") continue;
            if (element.className.indexOf("calm-table-line-key") !== -1){
                Polymer.dom(this).removeChild(element);
                continue;
            }
            this.toggleClass("narrow", false, element);
            this.toggleClass("medium", true, element);
        }
    },

    _setWide: function(){
        nodes =  this.children;
        this.toggleClass("narrow", false);
        for (var i = 0; i < nodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
            var element = nodes[i];
            if (element.nodeType == 3) continue;
            if (element.className.indexOf("calm-table-line-key") !== -1){
                Polymer.dom(this).removeChild(element);
                continue;
            }
            this.toggleClass("narrow", false, element);
            this.toggleClass("medium", false, element);
        }
    }
});
</script>
</dom-module>
