<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="calm-table-line.html">

<!--
`calm-table`
Full responsive table.

@demo demo/index.html
-->

<dom-module id="calm-table">
    <template>
    <style>
    :host {
        display: block;
        overflow: auto;
    }

    :host > ::content.title {
        font-weight: bold;
        color: var(--calm-table-title-color, darkblue);
        border-bottom-color: var(--calm-table-title-border-color, black);
        border-bottom-width: var(--calm-table-title-border-width, 1px);
        border-bottom-style: var(--calm-table-title-border-style, solid);
        @apply(--calm-table-title);
    }

    :host > ::content:nth-last-child(1){
        border-bottom-color: var(--calm-table-last-border-color, black);
        border-bottom-width: var(--calm-table-last-border-width, 0px);
        border-bottom-style: var(--calm-table-last-border-style, solid);
    }

    :host:not(.narrow) > #tableWrapper, #heading{
        min-width: var(--calm-table-min-width, 1000px);
    }
    </style>

    <template is="dom-if" if="[[!isNarrow]]">
        <calm-table-line id="heading" class="title">
            <template is="dom-repeat" items="[[columns]]">
                <span>[[item]]</span>
            </template>
        </calm-table-line>
    </template>

    <div id="tableWrapper" on-request-update="_onResize">
        <content id="content" select="calm-table-line"></content>
    </div>


</template>

<script>
Polymer({

    is: 'calm-table',

    behaviors: [
        Polymer.IronResizableBehavior
    ],

    listeners: {
        'iron-resize': '_onResize'
    },

    properties: {

        columns: {
            type: Array,
            notify: true,
            value: function() {return [];},
            observer: "_columnsChanged"
        },

        classes: {
            type: Array,
            notify: true,
            value: function() {return [];},
            observer: "_columnsChanged"
        },

        isNarrow: {
            type: Boolean,
            value: false
        },

        breakpointTablet: {
            type: Number,
            value: 1000
        },

        breakpointMobile: {
            type: Number,
            value: 800
        },

        _isSettingNarrow:{
            type: Boolean,
            notify: false
        }
    },

    ready: function(){
        var _element = this;
        Polymer.dom(this.$.content).observeNodes(function(e){
            _element._contentChanged(e)
        });
    },

    _contentChanged: function(e){
        for (var i = 0; i < e.addedNodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
            var node = e.addedNodes[i];
            if (node.nodeType == 3) continue;
            node.classes = this.classes;
        }
    },

    _columnsChanged: function(){
        if (this.offsetWidth == 0) return;
        var nodes = Polymer.dom(this.$.content).getDistributedNodes();
        for (var i = 0; i < nodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
            var line = nodes[i];
            if (line.nodeType == 3) continue;
            line.classes = this.classes;
        }
        var titleLine = Polymer.dom(this.root).querySelector("#heading");
        if (titleLine){
            titleLine.classes = this.classes;
        }
        if (this.isNarrow){
            this._setLinesNarrow();
        }
    },

    _onResize: function(){
        if (!this.columns) return;
        if (this.offsetWidth == 0) return;
        if (this.offsetWidth < this.breakpointMobile){
            this._setLinesNarrow();
        }
        else if (this.offsetWidth < this.breakpointTablet){
            this.isNarrow = false;
            this.toggleClass("narrow", false);
            var nodes = Polymer.dom(this.$.content).getDistributedNodes();
            for (var i = 0; i < nodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
                var line = nodes[i];
                if (line.nodeType == 3) continue;
                if (!line._setMedium) continue;
                line._setMedium();
            }
            var titleLine = Polymer.dom(this.root).querySelector("#heading");
            if (titleLine){
                titleLine._setMedium();
            }
            else{
                this.async(function(){
                    this._onResize();
                    return;
                }, 100);
            }
        }
        else{
            this.isNarrow = false;
            this.toggleClass("narrow", false);
            var nodes = Polymer.dom(this.$.content).getDistributedNodes();
            for (var i = 0; i < nodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
                var line = nodes[i];
                if (line.nodeType == 3) continue;
                if (!line._setWide) continue;
                line._setWide();
            }
            var titleLine = Polymer.dom(this.root).querySelector("#heading");
            if (titleLine){
                titleLine._setWide();
            }
        }
        this._columnsChanged();
    },


    _setLinesNarrow: function(){
        if (this._isSettingNarrow){
            return;
        }
        this._isSettingNarrow = true;
        this.async(function(){
            this.isNarrow = true;
            this.toggleClass("narrow", true);
            var nodes = Polymer.dom(this.$.content).getDistributedNodes();
            for (var i = 0; i < nodes.length; i++) { // For-of had to be replaced due to incompatability with Edge/IE.
                var line = nodes[i];
                if (line.nodeType == 3) continue;
                if (!line._setNarrow) continue;
                line._setNarrow(this.columns);
            }
            this._isSettingNarrow = false;
        }, 100);
    }

});
</script>
</dom-module>
